*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container .top .row-top{
    height: 100%;
    width: 1200px;
    background-color:#ecfefa ;
    display: grid;
    grid-template-columns: 4.5fr 3.5fr 2.5fr 1.5fr;
    gap: 20px;
}
.column1{
    background-color: red;
    color: #ecfefa;
    grid-column-start:1;
    grid-column-end: 1;
}
.column2{
    background-color: green;
    color: #ecfefa;
    grid-column-start:2;
    grid-column-end: 3;
}
.column3{
    background-color: yellow;
    color: #ecfefa;
    grid-column-start:3;
    grid-column-end: 4;
}
}
.column4{
    background-color: pink;
    color: #ecfefa;
   
    
}
.column5{
    background-color: orange;
    color: #ecfefa;
   
}